<html>
    <head> 
        <link href="assets/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
<!--Aqui se esta especificando entre los 
    caracteres <%= %> que esa vista va a 
    recibir un valor especial, llamado ID
    y ese ID va a ser “pasado” a la vista
    mediante el “route handler”-->
    <!--mostrar array de personas-->
    <h1>Lista de Personas</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
      </tr>
      <% data.forEach(function(person) { %>
        <tr>
          <td><%= person.id %></td>
          <td><%= person.nombre %></td>
          <td><%= person.apellido %></td>
          <td><%= person.edad %></td>
        </tr>
      <% }); %>
    </table>


    </body>
</html>