<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/litera/bootstrap.min.css"
      media="screen"
    />
    <title>Personas</title>
  </head>
  <body>
  
    <div class="container" style="margin: 0px auto">
      

      <header style="text-align: center" class="card-header">
        <h1>Personas</h1>
      </header>
      <form class="d-flex" action="search" method="POST">
        <input class="form-control me-sm-2" type="search" name="search" id="search" placeholder="Buscar">
        <button class="btn btn-secondary my-2 my-sm-0" href="./search" type="submit">Buscar</button>
      </form>
      <main>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>NSS</th>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Tipo de Sangre</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < Persons.length; i++) { %>
            <tr>
              <td><%= Persons[i].nss %></td>
              <td><%= Persons[i].nombre %></td>
              <td><%= Persons[i].edad %></td>
              <td><%= Persons[i].tipoSangre %></td>
 
              <td>
                <a href="<%= `confirmDelete/${Persons[i]._id}` %>"
                   onclick="return confirm('¿Está seguro de que desea eliminar esta persona?')" class="btn btn-danger" >Delete</a>
              </td>
              <td><a href="<%= `findById/${Persons[i]._id}` %>" class="btn btn-warning" >Update</a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <footer style="text-align: center">
          <a href="./addPerson" class="btn btn-success">Agregar</a>
        </footer>
      </main>
      
    </div>
  </body>
</html>
